<!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/"> -->

<!-- Bootstrap core CSS -->


<div class="container-fluid col-xxl-8 px-4 py-5 degraded">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../../assets/images/fondo1.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Foto-diente"
        width="700"
        height="500"
        loading="lazy"

      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
       THE DOCTORS
      </h1>
      <p class="lead">
        Disfrutarás de los más avanzados tratamientos para mejorar tu sonrisa y tu salud bucal. La más avanzada tecnología y el mejor trato pone a tu disposición los últimos conceptos de la odontología a nivel mundial en la ciudad de Quito, Ecuador.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start text-center">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                Agendar una cita
              </button> -->
        <button type="button" class="btn btn-outline-dark btn-lg px-2 " routerLink="/app-cita">
          Agendar una cita
        </button>
      </div>
    </div>
  </div>
</div>
